:root {

    --purpleBackground  : #3d0099 ;
    --mainGrey          : #202020 ;
    --monokaiBackground : #282923 ;
    --monokaiRed        : #F92672 ;
    --backgroundSentence: #3B3B3B ;
    --monokaiComment    : #797979 ;
    --monokaiYellow     : #FEED6C ;
    --monokaiGreen      : #82D914 ;
    --monokaiPurple     : #AE81FF ;
    --lightGreen        : #047a74 ;
}

body{
    background-color: var(--purpleBackground) ;
    color: white;
    font-family: Consolas, monaco,Ubuntu, monospace; 
    border-radius: 5px;
}

center {
    padding: 20px;
}


/*where all the text is*/
.main {
    position: relative;
    z-index: 5;/*to make the bird go behind*/
    background-color: var(--mainGrey);
    padding: 40px;
    border-radius: 20px;
}


.SyntaxIndented, .CodeIndented, .Indented2, .Indented1  {
    color: var(--monokaiPurple) ;
    margin-left: 40px;
}

.Bulleted, .Indented4SmallNestedBulleted, .WideAbove, .Indented2Bulleted, .Bulleted-NoPrefix, .Enumerated-Body{
    margin-left: 40px;
}



/*----------CODE----------*/
.Examples, .SmallExamples, .SmallIndented2Examples, .IndentedExamples{
    background-color: var(--monokaiBackground) ;
    text-align: left;
    padding: 10px;
    margin: 10px;
    margin-left: 40px;
}

b {
    color: var(--monokaiRed) ;
}

.Examples i{
    color: var(--monokaiComment);
}

/*variables dans un programme
.roman i{
    color: var(--monokaiPurple);
}*/


/*important*/
i {
    color: var(--monokaiYellow);
}



/*links only*/
a[href]{
    color: var(--monokaiYellow) ;
}

a:visited {
    color: var(--monokaiGreen);
}

/*title*/
 h1,h2,h3,h4,h5,h6  {
    text-align: center;
}

.Wide, .enTete{
    text-align: center;
    padding: 20px;
}

/*explanation*/
.Normal {
    background-color: var(--backgroundSentence) ;
    padding: 30px;
    margin : 10px;
    border-radius: 20px;
}

/*definition*/
.Hanging {
    background-color: #000000;
    text-align: left;
    padding: 10px;
    margin: 0px 10px 10px 10px;
    margin-left: 40px;
}

/*paragraph number*/
.Paranum, .paranum {
    color: #56C2D6;
    font-size: small;
}

/*comment on a code*/
.Notes {
    margin-left: 40px;
    color: var(--monokaiComment);
}

.NotesHeader {
    margin-left: 40px;
}



.adaLogo {
    transform: scale(2.5);
    right: 5%;
    top: 3%;
    position: fixed;
    z-index: 2;
    padding: 10px;
}

.navig {
    padding: 20px;
}

/*annotations added*/

.Annotations {
    /*visibility: collapse;*/
    background-color: var(--lightGreen);
    padding: 30px;
    margin : 10px;
    border-radius: 20px;
}

.Annotations:before {
    visibility: visible;
    font-size: small;
    content: "comment: ";
    border-radius: 10px;
    padding: 10px;
    position: relative;
    background-color: var(--lightGreen);
    top: -30px;
    left: -30px;
}
/*DIV.paranum {position: absolute; font-family: Arial, Helvetica, sans-serif; left: 0.5em; top: auto}
TT {font-family: "Courier New", monospace}
DT {display: compact}
DIV.Normal {font-family: "Times New Roman", Times, serif; margin-bottom: 0.6em}
DIV.Wide {font-family: "Times New Roman", Times, serif; margin-top: 0.6em; margin-bottom: 0.6em}
DIV.Annotations {font-family: "Times New Roman", Times, serif; margin-left: 4.0em; margin-bottom: 0.6em}
DIV.WideAnnotations {font-family: "Times New Roman", Times, serif; margin-left: 4.0em; margin-top: 0.6em; margin-bottom: 0.6em}
DIV.Index {font-family: "Times New Roman", Times, serif}
DIV.SyntaxSummary {font-family: "Times New Roman", Times, serif; margin-left: 2.0em; margin-bottom: 0.4em}
DIV.Notes {font-family: "Times New Roman", Times, serif; margin-left: 2.0em; margin-bottom: 0.6em}
DIV.NotesHeader {font-family: "Times New Roman", Times, serif; margin-left: 2.0em}
DIV.SyntaxIndented {font-family: "Times New Roman", Times, serif; margin-left: 2.0em; margin-bottom: 0.4em}
DIV.Indented {font-family: "Times New Roman", Times, serif; margin-left: 6.0em; margin-bottom: 0.6em}
DIV.CodeIndented {font-family: "Times New Roman", Times, serif; margin-left: 4.0em; margin-bottom: 0.6em}
DIV.SmallIndented {font-family: "Times New Roman", Times, serif; margin-left:  10.0em; margin-bottom: 0.6em}
DIV.SmallCodeIndented {font-family: "Times New Roman", Times, serif; margin-left: 8.0em; margin-bottom: 0.6em}
DIV.Examples {font-family: "Courier New", monospace; margin-left: 2.0em; margin-bottom: 0.6em}
DIV.SmallExamples {font-family: "Courier New", monospace; font-size: 80%; margin-left: 7.5em; margin-bottom: 0.6em}
DIV.IndentedExamples {font-family: "Courier New", monospace; margin-left: 8.0em; margin-bottom: 0.6em}
DIV.SmallIndentedExamples {font-family: "Courier New", monospace; font-size: 80%; margin-left:  15.0em; margin-bottom: 0.6em}
UL.Bulleted {font-family: "Times New Roman", Times, serif; margin-left: 2.0em; margin-right: 2.0em; margin-top: 0em; margin-bottom: 0.5em}
UL.SmallBulleted {font-family: "Times New Roman", Times, serif; margin-left: 6.0em; margin-right: 6.0em; margin-top: 0em; margin-bottom: 0.5em}
UL.NestedBulleted {font-family: "Times New Roman", Times, serif; margin-left: 4.0em; margin-right: 4.0em; margin-top: 0em; margin-bottom: 0.5em}
UL.SmallNestedBulleted {font-family: "Times New Roman", Times, serif; margin-left: 8.0em; margin-right: 8.0em; margin-top: 0em; margin-bottom: 0.5em}
UL.IndentedBulleted {font-family: "Times New Roman", Times, serif; margin-left: 8.0em; margin-right: 8.0em; margin-top: 0em; margin-bottom: 0.5em}
UL.CodeIndentedBulleted {font-family: "Times New Roman", Times, serif; margin-left: 6.0em; margin-right: 6.0em; margin-top: 0em; margin-bottom: 0.5em}
UL.CodeIndentedNestedBulleted {font-family: "Times New Roman", Times, serif; margin-left: 8.0em; margin-right: 8.0em; margin-top: 0em; margin-bottom: 0.5em}
UL.SyntaxIndentedBulleted {font-family: "Times New Roman", Times, serif; margin-left: 4.0em; margin-right: 4.0em; margin-top: 0em; margin-bottom: 0.5em}
UL.NotesBulleted {font-family: "Times New Roman", Times, serif; margin-left: 4.0em; margin-right: 4.0em; margin-top: 0em; margin-bottom: 0.5em}
UL.NotesNestedBulleted {font-family: "Times New Roman", Times, serif; margin-left: 6.0em; margin-right: 6.0em; margin-top: 0em; margin-bottom: 0.5em}
DL.Hanging {font-family: "Times New Roman", Times, serif; margin-top: 0em; margin-bottom: 0.6em}
DD.Hanging {margin-left: 6.0em}
DL.IndentedHanging {font-family: "Times New Roman", Times, serif; margin-left: 4.0em; margin-top: 0em; margin-bottom: 0.6em}
DD.IndentedHanging {margin-left: 2.0em}
DL.HangingInBulleted {font-family: "Times New Roman", Times, serif; margin-left: 2.0em; margin-right: 2.0em; margin-top: 0em; margin-bottom: 0.5em}
DD.HangingInBulleted {margin-left: 4.0em}
DL.SmallHanging {font-family: "Times New Roman", Times, serif; margin-left: 4.0em; margin-top: 0em; margin-bottom: 0.6em}
DD.SmallHanging {margin-left: 7.5em}
DL.SmallIndentedHanging {font-family: "Times New Roman", Times, serif; margin-left: 8.0em; margin-top: 0em; margin-bottom: 0.6em}
DD.SmallIndentedHanging {margin-left: 2.0em}
DL.SmallHangingInBulleted {font-family: "Times New Roman", Times, serif; margin-left: 6.0em; margin-right: 6.0em; margin-top: 0em; margin-bottom: 0.5em}
DD.SmallHangingInBulleted {margin-left: 5.0em}
DL.Enumerated {font-family: "Times New Roman", Times, serif; margin-right: 0.0em; margin-top: 0em; margin-bottom: 0.5em}
DD.Enumerated {margin-left: 2.0em}
DL.SmallEnumerated {font-family: "Times New Roman", Times, serif; margin-left: 4.0em; margin-right: 4.0em; margin-top: 0em; margin-bottom: 0.5em}
DD.SmallEnumerated {margin-left: 2.5em}
DL.NestedEnumerated {font-family: "Times New Roman", Times, serif; margin-left: 2.0em; margin-right: 2.0em; margin-top: 0em; margin-bottom: 0.5em}
DL.SmallNestedEnumerated {font-family: "Times New Roman", Times, serif; margin-left: 6.0em; margin-right: 6.0em; margin-top: 0em; margin-bottom: 0.5em}*/
